/* 设置全局字体为Arial或sans-serif */
body {
    font-family: Arial, sans-serif;
    /* 重置默认外边距和内边距 */
    margin: 0;
    padding: 0;
    /* 使用flex布局，使内容垂直排列 */
    display: flex;
    flex-direction: column;
    /* 设置最小高度为视口高度，以确保内容至少占据整个视口高度 */
    min-height: 100vh;
}